/* Webfont: UniversSBLigIta */@font-face {
    font-family: 'UniversSBLigIta';
    src: url('UniversSBLigIta.eot'); /* IE9 Compat Modes */
    src: url('UniversSBLigIta.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('UniversSBLigIta.woff') format('woff'), /* Modern Browsers */
         url('UniversSBLigIta.ttf') format('truetype'), /* Safari, Android, iOS */
         url('UniversSBLigIta.svg#UniversSBLigIta') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

