body {
    font-family: Roboto;
}

.panel-body{
    font-family: Roboto;
    font-size: 13pt;
}

.panel-title{
    font-family: Roboto;
    font-size: 16pt;
}

.header-hamburger {
    color: #333333;

}

.about-links{
    color: #333333;
    font-family: Roboto;
    letter-spacing: 0.02em;

}

.about-links:hover {
    font-family: Roboto;
    color: #848484;
    letter-spacing: 0.02em;
}


.navbar-white {
    background-color: white;
}

.main-background {
    background-color: #dedede;
}

.project-background {
    background-color: #46a0bf;
}

.body-container {
   display: inline-block;min-height: 100%;
    padding-bottom: 80px;
}

.burger {
    float: right;
    position: relative;
}

#text{
    font-family: Roboto;
}

/*Nav Overlay*/

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    right: 0;
    top: 0;
    background-color: #46a0bf;
    overflow-x: hidden;
    transition: 0.5s;
}

.overlay-content {
    font-family: Roboto;
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #f1f1f1;
    display: block;
    transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
    color: #333333;
}

.overlay .closebtn {
    position: absolute;
    right: 30px;
    font-size: 36px;
}

@media screen and (max-height: 450px) {
    .navMenu a {
        font-size: 20px
    }

    .navMenu .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}

.bottom-align {
    position: relative;
    bottom: -7px;
}

.footer-text {
    margin-top: 20px;
    color: #333333;
    font-size: 12px;
    font-family: Roboto;
    letter-spacing: 0.02em;

}

.footer-style {
    background-color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
    clear:both;
}

.footer-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-icons {
    color: #46a0bf;

}

.footer-icons:hover {
    color: #333333;

}

.about-text {
    font-family: Roboto;
    color: #333333;
    letter-spacing: 0.02em;

}

.scale-img {
    width: auto;
    max-width: 100%;
    width: 100%;
    padding-top: 7px;
    padding-bottom: 7px;
}


.project-title {
    font-family: Roboto;
    font-size: 16pt;
    letter-spacing: 0.02em;
    color: #333333;
}

.project-subtitle {
    font-family: Roboto;
    color: #333333;
    letter-spacing: 0.02em;
}

.read-more {
    font-family: Roboto;
    font-size: 16pt;
    color: #333333;
    letter-spacing: 0.02em;
    text-decoration: underline;
}

.read-more:hover {
    font-family: Roboto;
    color: #848484;
    letter-spacing: 0.02em;
}

*, *:before, *:after {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background: #f9f9f9;
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
}

.main-title {
    color: #2d2d2d;
    text-align: center;
    text-transform: capitalize;
    padding: 0.7em 0;
}

.container {
    padding: 1em 0;
    float: left;
    width: 50%;
}

@media screen and (max-width: 640px) {
    .container {
        display: block;
        width: 100%;
    }
}

@media screen and (min-width: 900px) {
    .container {
        width: 33.33333%;
    }
}

.content {
    position: relative;
    max-width: 400px;
    margin: auto;
    overflow: hidden;
}

.content .content-overlay {
    background: #46a0bf;
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
}

.content:hover .content-overlay {
    opacity: 0.95;
}

.content-image {
    width: 100%;
}

.content-title{
    color: deeppink;
}

.up-chevron {
    color: #46a0bf;
}

.content-details {
    position: absolute;
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
    width: 100%;
    top: 50%;
    left: 50%;
    opacity: 0;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

.content:hover .content-details {
    top: 50%;
    left: 50%;
    opacity: 1;
}

.content-details h4 {
    font-family: Roboto;
    color: #fff;
    letter-spacing: 0.1em;
}

.content-details h5 {
    font-family: Roboto;
    color: #fff;
    font-size: 1em;
    letter-spacing: 0.1em;
}

.about-section-border{
    border-bottom: 1px solid;
    border-color: #333333;
}

.overlay-heading{
    font-size: 20pt;
}

.overlay-subheading{
    font-size: 16pt;
}

#overlay {
    /*opacity: 0.95;*/
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #46a0bf; /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
}

#text {
    color: white;
    font-size: 13pt;
    letter-spacing: 0.02em;
}