body {
    font-family: UniversSBLightClaire;
}

.about-subheading {
    font-family: UniversSBRomanClaire;
}


.header-hamburger {
    color: #333333;

}

@font-face {
    font-family: 'UniversSBRomanClaire';
    font-style: normal;
    font-weight: 400;
    src: url("/fonts/UniversSBRoman.woff") format('woff');
}

@font-face {
    font-family: 'UniversSBLightClaire';
    font-style: normal;
    font-weight: 400;
    src: url("/fonts/UniversSBLight.woff") format('woff');
}

.title-name {
    color: #46a0bf;
    font-size: 22px;
    font-family: UniversSBRomanClaire;
}

.navbar-white {
    background-color: white;
}

.main-background {
    background-color: #cccccc;
}

.body-container {
    min-height: 75rem;
}

.burger {
    float: right;
    position: relative;
}

/*.work-card {*/
    /*margin: 0 auto; !* Added *!*/
    /*float: none; !* Added *!*/
    /*margin-bottom: 10px; !* Added *!*/
/*}*/

/*Nav Overlay*/

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    right: 0;
    top: 0;
    background-color: #46a0bf;
    overflow-x: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #f1f1f1;
    display: block;
    transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
    color: #333333;
}

.overlay .closebtn {
    position: absolute;
    right: 30px;
    font-size: 36px;
}

@media screen and (max-height: 450px) {
    .navMenu a {
        font-size: 20px
    }

    .navMenu .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}

.bottom-align {
    position: relative;
    bottom: -7px;
}

.footer-text {
    margin-top: 20px;
    color: #333333;
    font-size: 12px;
    font-family: UniversSBLightClaire;

}

.footer-style {
    background-color: white;
}

.footer-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-icons{
    color: #46a0bf;

}
.footer-icons:hover{
    color: #333333;

}

.about-text {
    font-family: UniversSBRomanClaire;
    color: red;

}

.scale-img {
    width: auto;
    max-width: 100%;
    width: 100%;
}
