body {
    font-family: 'Lato', sans-serif;
}

.modal-fullscreen-menu .close {
    color: white;
    opacity: 1;
    padding: 10px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    font-size: 5vh;
}

.modal-fullscreen-menu .modal-dialog {
    margin: 0 auto;
    width: 100%;
    max-width: 768px;
    display: flex;
    height: 100%;
    align-items: center;
}

.modal-fullscreen-menu .modal-content {
    background-color: transparent;
    box-shadow: none;
    border: none;
}

.modal-fullscreen-menu .list-group {
    text-align: center;
    margin: 0 auto;
    width: 100%;
}

.modal-fullscreen-menu .list-group a {
    font-size: 200%;
    font-weight: 200;
    letter-spacing: 0.05em;
    border: none;
    transition: all 0.25s ease;
    background-color: transparent;
    color: white;
    padding: 7.5vh 0;
    height: 5vh;
    font-size: 5vh;
    line-height: 0;
}

.modal-fullscreen-menu .list-group a:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
    z-index: -1;
    opacity: 0;
    transform: scale3d(0.7, 1, 1);
    transition: transform 0.4s, opacity 0.4s;
}

.modal-fullscreen-menu .list-group a:hover {
    color: black;
}

.modal-fullscreen-menu .list-group a:hover:before {
    transform: translate3d(0, 0, 0);
    opacity: 1;
}

.modal-backdrop.in {
    opacity: 1;
}

.jumbotron {
    display: flex;
    align-items: center;
    margin: 0;
    height: 100vh;
    color: white;
    background-color: #333;
}

.header-hamburger {
    color: #333333;

}

@font-face {
    font-family: 'UniversSBMediumClaire';
    font-style: normal;
    font-weight: 400;
    src: url("/fonts/UniversSBMedium.woff") format('woff');
    /*src: url("/public/fonts/Univers SB Web/UniversSB Medium/UniversSBMedium.eot") format('eot');*/
    /*src: url("/public/fonts/Univers SB Web/UniversSB Medium/UniversSBMedium.woff") format('woff');*/
    /*src: url("/public/fonts/Univers SB Web/UniversSB Medium/UniversSBMedium.ttf") format('truetype');*/
    /*src: url("/public/fonts/Univers SB Web/UniversSB Medium/UniversSBMedium.svg") format('svg');*/
}

.title-name {
    color: #46a0bf;
    font-size: 36px;
    font-family: UniversSBMediumClaire;
}

.navbar-white {
    background-color: white;
}

.main-background {
    background-color: #eff1f1;
}

.body-container {
    min-height: 75rem;
    padding-top: 6rem;
}