/* Webfont: UniversSBMedIta */@font-face {
    font-family: 'UniversSBMedIta';
    src: url('UniversSBMedIta.eot'); /* IE9 Compat Modes */
    src: url('UniversSBMedIta.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('UniversSBMedIta.woff') format('woff'), /* Modern Browsers */
         url('UniversSBMedIta.ttf') format('truetype'), /* Safari, Android, iOS */
         url('UniversSBMedIta.svg#UniversSBMedIta') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

